{% extends 'core/base.html' %}
{% block title %}
Sucursal
{% endblock %}
{% block content %}
{% load static %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 id="sucursalName1"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'Inicio' %}">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'Sucursales' %}">Sucursales</a></li>
                    <li id="sucursalName2" class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content-header">
    <div class="container-fluid">
        <div class="card-body p-0">
            <br/>
            <br/>
            <ul class="users-list clearfix">
                <li class="zoomin">
                    <a href="{% url 'Usuarios' %}">
                        <img src="{% static 'core/img/user.png' %}" class="img-fluid mb-2" alt="white sample"/>                                    
                        <h1>Usuarios</h1>
                    </a>
                </li>
                <li class="zoomin">
                    <a href="{% url 'Equipos' %}">
                        <img src="{% static 'core/img/equipo.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Equipos</h1>
                    </a>
                </li>
                <li class="zoomin">
                    <a href="{% url 'Servicios' %}">
                        <img src="{% static 'core/img/servicios.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Servicios</h1>
                    </a>
                </li>
                <li class="zoomin">
                    <a href="{% url 'Tiendas' %}">
                        <img src="{% static 'core/img/tiendas.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Tiendas</h1>
                    </a>
                </li>
                <li class="zoomin">
                    <a href="{% url 'Tarifas' %}">
                        <img src="{% static 'core/img/tarifas.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Tarifas</h1>
                    </a>
                </li>
                <li></li>
                <li class="zoomin">
                    <br/>
                    <br/>
                    <br/>
                    <a href="{% url 'Suscripciones' %}">
                        <img src="{% static 'core/img/candados.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Suscripciones</h1>
                    </a>
                </li>
                <li></li>
                <li class="zoomin">
                    <br/>
                    <br/>
                    <br/>
                    <a href="{% url 'Reportes' %}">
                        <img src="{% static 'core/img/report.png' %}" class="img-fluid mb-2" alt="white sample"/>
                        <h1>Reportes</h1>
                    </a>
                </li>                      
            </ul>
        </div>
    </div>
</section>
{% endblock %}