{% extends 'core/baseHome.html' %}
{% load static %} 
{% block title %}
Iniciar Sesión
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>    
    <br/>
    <br/>
    <br/>
    <br/>    
    <section>
        <div class="col-md-3 mx-auto">
            <div class="login-box">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Iniciar Sesión</h3>
                    </div>
                    <div class="card-body login-card-body">
                        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                            {% if form.non_field_errors %}
                                <p style="color:red">Usuario o contraseña incorrectos, intente de nuevo.</p>
                            {% endif %}
                            <div class="input-group mb-3">
                                <!--<input type="email" class="form-control" placeholder="Correo">-->
                                <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control" placeholder="Nombre de Usuario">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" name="password" required id="id_password" class="form-control" placeholder="Contraseña">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">
                                            Recordar
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <input type="submit" value="Acceder" class="btn btn-primary btn-block">
                                </div>
                            </div>
                        </form>
                        <p class="mb-1">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </p>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}